<h3>{{title}}</h3>

<div>

  <!--<form (ngSubmit)="onSubmit()" #catForm="ngForm">-->
    <label>Cat name:</label> <input #catName />
    <label>Cat breed:</label> <input #catBreed />

    <button type="submit" (click)="add(catName.value); catName.value=''">
      Add
    </button>

  <!--</form>-->

</div>

<ul>
  <li *ngFor="let cat of cats"
      [class.active]="cat === selectedCat"
      (click)="onSelect(cat)">
    {{cat.name}}
    <button class="delete"
            (click)="delete(cat); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedCat">
  {{selectedCat.name | uppercase}} is the best cat.

  <button (click)="gotoDetail()" >view details</button>
</div>
