<h3>{{title}}</h3>

<div style="width: 500px; margin-bottom: 50px">

  <form #addacat="ngForm" novalidate>

    <div class="form-group">
      <label for="name">Cat name:</label>
      <!-- #foo is input data, [(ngModel)] makes it angular data -->
      <input #catName="ngModel" [(ngModel)]="catname" name="cat-name" type="text" class="form-control" id="name"  required/>
    </div>
    <div [hidden]="catName.untouched || catName.valid"
         class="alert alert-danger">
      Name is required
    </div>

    <div class="form-group">
      <label for="breed">Cat breed:</label>
      <select #catBreed="ngModel" [(ngModel)]="catbreed" name="cat-breed" class="form-control" id="breed" required>
        <option value="" disabled selected >Select a breed</option>
        <option *ngFor="let c of cats" [value]="c.breed" >{{c.breed}}</option>
      </select>
    </div>

    <div [hidden]="catBreed.untouched || catBreed.valid"
         class="alert alert-danger">
      Breed is required
    </div>

    <button type="submit" class="btn btn-default" [disabled]="!addacat.form.valid" (click)="add(catName.value, catBreed.value); catName.value=''; catBreed.value=''">
      Add
    </button>

  </form>

</div>

<div [hidden]="addacat.invalid || addacat.untouched" class="alert alert-success">
  Submitted successfully!
</div>



<ul>
  <li *ngFor="let cat of cats"
      [class.active]="cat === selectedCat"
      (click)="onSelect(cat)">
    {{cat.name}}
    <button class="delete"
            (click)="delete(cat); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedCat">
  {{selectedCat.name | uppercase}} is the best cat.

  <button (click)="gotoDetail()" >view details</button>
</div>
